aiohttp
websockets
chardet

altgraph==0.17
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
comtypes==1.1.10
future==0.18.2
gTTS==2.2.3
idna==3.2
numpy==1.21.2
panda3d==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.8
pefile==2021.5.24
Pillow==8.3.1
pyperclip==1.8.2
pyTelegramBotAPI==3.8.3
pywin32-ctypes==0.2.0
requests==2.26.0
screeninfo==0.7
six==1.16.0
urllib3==1.26.6
